:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
.main-section {
    width: 90%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.left, .right {
    background-color: white;
    margin: 10px;
    padding: 40px;
}

.right {
    overflow: scroll;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
.past-polls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bottom {
    background-color: white;
    margin: 10px;
    padding: 40px;
}
p {
    margin: var(--gutter);
}

.poll {
    border: solid 1px black;
    text-align: center;
    display: flex;
    width: 200px;
    display: flex;
    justify-content: center;
}
.poll .name {
    font-size: 1.3rem;
    border-bottom: solid 2px black;
    text-overflow: ellipsis;
}

.poll .score {
    font-size: 1.3rem;
}